<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <title>Lista de Usuários</title>
</head>

<body>
    <div th:replace="fragments/fragments :: header"></div>
    <section>
        <div class="cont-usuarios">
            <div class="usuarios">
                <h2>Lista de usuários</h2>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Nome de Usuário</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Papel</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${usuarios.empty}">
                            <td colspan="2">Sem usuários</td>
                        </tr>
                        <tr th:each="usuario : ${usuarios}">
                            <td><span th:text="${usuario.username}">Nome de Usuário</span></td>
                            <td><span th:text="${usuario.email}">Email</span></td>
                            <td>
                                <span th:text="${usuario.ativo} ? 'ATIVO' : 'NÃO ATIVO'">Ativo?</span>
                            </td>            
                            <td>
                                <th:block th:each="pp : ${usuario.papeis}">
                                    <span th:text="${pp.papel}">Papel</span><br/>
                                </th:block>							
                            </td>            
                            <td>
                                <a th:href="@{/user/admin/apagar/{id}(id=${usuario.id})}"
                                    th:data-confirm-delete="|Você gostaria de apagar ${usuario.username}?|"
                                    onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Apagar</a>
                                <a th:href="@{/user/editar/{id}(id=${usuario.id})}">Editar</a>
                                <a th:href="@{/user/editarPapel/{id}(id=${usuario.id})}">Papéis</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <div th:replace="fragments/fragments :: footer"></div>
</body>

</html>