<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <title>Editar Papéis do Usuário</title>
    <style>
        .mensagem {
            color: red;
        }
    </style>
</head>

<body>
    <div th:replace="fragments/fragments :: header"></div>
    <section>
        <div class="cont-cad-usuario">
            <div class="cad-usuario">
                <h2>Atribuir papel</h2>
                <form class="form-cad" th:action="@{/user/editarPapel/{id}(id=${usuario.id})}" th:object="${usuario}"
                    method="post">
                    <input type="text" required="required" th:field="*{username}"
                        placeholder="Digite seu nome de usuário" disabled>
                    <span class="mensagem" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                    <input type="email" required="required" th:field="*{email}" placeholder="Digite seu email" disabled>
                    <span class="mensagem" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    <input type="text" required="required" th:field="*{password}" placeholder="Digite sua senha"
                        disabled>
                    <span class="mensagem" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

                    <div class="checkbox">
                        <label>Ativado:</label>
                        <input style="height:1em; width:1em;" type="radio" value="true" th:field="*{ativo}">
                        <label>Ativo</label>
                        <input style="height:1em; width:1em;" type="radio" value="false" th:field="*{ativo}">
                        <label>Não ativo</label>
                    </div>

                    <div class="checkbox">
                        <label>Papéis:</label>
                        <th:block th:each="pp : ${listaPapeis}">
                            <div th:if="${#lists.contains(usuario.papeis, pp)}">
                                <input style="height:1em; width:1em;" type="checkbox" name="pps" th:value="${pp.id}"
                                    checked />
                                <label th:text="${pp.papel}"></label>
                            </div>
                            <div th:unless="${#lists.contains(usuario.papeis, pp)}">
                                <input style="height:1em; width:1em;" type="checkbox" name="pps" th:value="${pp.id}" />
                                <label th:text="${pp.papel}"></label>
                            </div>
                        </th:block>
                    </div>
                    <span class="mensagem" th:if="${mensagem}" th:text="${mensagem}"></span>
                    <button type="submit">Alterar</button>
                </form>
            </div>
        </div>
    </section>
    <div th:replace="fragments/fragments :: footer"></div>
</body>

</html>