<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <title>Currículo</title>
</head>

<body>
    <div th:replace="fragments/fragments :: header"></div>
    <section>
        <div class="cont-curriculo">
            <div class="curriculo-left">
                <p>Novembro de 2012 - Janeiro de 2022</p>
                <p><strong>Técnico em Manutenção e Suporte em Informática</strong></p>
                <p>Desde março de 2022</p>
                <p></p><strong>Desenvolvedor Back-end Júnior</strong></p>
            </div>
            <div class="curriculo-right">
                <h2>Histórico Profissional</h2>
                <p>Montagem, instalação e configuração de equipamentos de informática. Configuração de sistemas
                    operacionais e aplicativos. Manutenção preventiva e corretiva em sistemas operacionais e
                    equipamentos de informática.</p>
                <p>Segurança, banco de dados e integração de webservices. Em outras palavras, minhas principais
                    atividades são programar, codificar e testar os projetos criados. A manutenção dos sistemas também
                    faz parte das minhas tarefas diárias.</p>
            </div>
        </div>
    </section>
    <div th:replace="fragments/fragments :: footer"></div>
</body>

</html>