<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <title>Início</title>
</head>

<body>
    <div th:replace="fragments/fragments :: header"></div>
    <section>
        <div class="cont-inicio">
            <div class="inicio-left">
                <h1>Olá, eu sou o David.</h1>
                <h3>Bem-vindo ao meu portfólio!</h3>
                <p>Convido você a explorar o meu site para entender as minhas especialidades, técnicas e experiências
                    profissionais. Divirta-se navegando e entre em contato se tiver alguma pergunta.</p>
            </div>
            <div class="inicio-right">
                <picture>
                    <source media="(min-width: 600px)" srcset="/imgs/myself.jpg">
                    <img src="/imgs/myself.jpg" alt="Myself">
                </picture>
            </div>
        </div>
    </section>
    <div th:replace="fragments/fragments :: footer"></div>
</body>

</html>