@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
}

body a {
    text-decoration: none;
    color: inherit;
}

body h1 {
    font-size: 4em;
    padding: 1%;
}

body h2 {
    font-size: 3em;
    padding: 1%;
}

body h3 {
    font-size: 1.2em;
    padding: 1%;
}

body p {
    font-size: 1em;
    padding: 1%;
}

button {
    color: #f1f1f1;
    background-color: black;
    height: 47px;
    width: 470px;
    font-size: 1em;
    font-family: 'IBM Plex Sans';
    margin-top: 2%;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.384);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    margin-top: 1%;
    width: 100%;
}

td,
th {
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}

tr:nth-child(even) {
    background-color: rgb(218, 218, 218);
}

.form-cad input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 2% 0% 0% 1%;
    width: 470px;
    height: 47px;
    font-family: 'IBM Plex Sans';
    font-size: 1em;
}

.form-cad textarea {
    background: transparent;
    border: none;
    resize: none;
    border-bottom: 1px solid #000000;
    width: 470px;
    padding: 2% 0% 0% 1%;
    font-family: 'IBM Plex Sans';
    font-size: 1em;
}

.form-cad input,
textarea:focus {
    outline: none;
}

.form-cad button:hover {
    background-color: rgba(0, 0, 0, 0.384);
}

.cont-nav {
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin: 0% 2% 0% 2%;
    padding: 1%;
}

.nav-left {
    width: 50%;
    text-align: left;
}

.nav-right {
    width: 50%;
    text-align: right;
}

.cont-inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
    margin: 2%;
    padding: 1%;
    height: 690px;
}

.inicio-left {
    width: 30%;
    padding: 1%;
}

.inicio-right {
    width: 30%;
    padding: 1%;
}

.inicio-right img {
    box-shadow: 12px 12px;
}

.cont-jogos {
    display: flex;
    margin: 2%;
    padding: 1%;
    height: 690px;
}

.jogos {
    margin: auto;
    margin-top: 4%;
    width: 70%;
    text-align: center;
    padding: 2%;
}

.cont-sobre {
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 1%;
    height: 690px;
}

.sobre-top {
    margin: auto;
}

.sobre-bottom {
    margin: auto;
    text-align: center;
    padding: 2%;
    width: 50%;
}

.cont-usuarios {
    display: flex;
    margin: 2%;
    padding: 1%;
    height: 690px;
}

.usuarios {
    margin: auto;
    margin-top: 4%;
    width: 70%;
    text-align: center;
    padding: 2%;
}

.cont-contato {
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin: 2%;
    padding: 1%;
    height: 690px;
}

.contato-left {
    width: 50%;
    margin: auto;
    margin-top: 4%;
    padding: 2%;
    text-align: center;
}

.contato-right {
    width: 50%;
    margin: auto;
    margin-top: 4%;
    padding: 2%;
}

.cont-curriculo {
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin: 2%;
    padding: 1%;
    height: 690px;
}

.curriculo-left {
    width: 20%;
    margin: auto;
    margin-top: 4%;
    padding: 2%;
    text-align: center;
    height: 480px;
}

.curriculo-right {
    width: 80%;
    margin: auto;
    margin-bottom: 10%;
    padding: 2%;
    height: 480px;
}

.cont-login {
    display: flex;
    margin: 2%;
    padding: 1%;
    height: 690px;
}

.login {
    margin: auto;
    margin-top: 4%;
    text-align: center;
    padding: 2%;
}

.cont-cad-usuario {
    display: flex;
    text-align: center;
    margin: 2%;
    padding: 1%;
    height: 690px;
}

.cad-usuario {
    margin: auto;
    margin-top: 4%;
    padding: 2%;
}

.cont-cad-jogo {
    display: flex;
    text-align: center;
    margin: 2%;
    padding: 1%;
    height: 690px;
}

.cad-jogo {
    margin: auto;
    margin-top: 4%;
    padding: 2%;
}

.cont-obrigado {
    display: flex;
    margin: 2%;
    padding: 1%;
    height: 690px;
}

.obrigado {
    width: 100%;
    margin: auto;
    margin-top: 4%;
    text-align: center;
}

.cont-blog {
    display: flex;
    flex-direction: column;
    gap: 1%;
    margin: 2%;
    padding: 1%;
    height: auto;
}

.cont-form-post {
    display: flex;
    flex-direction: column;
    gap: 1%;
    margin: 2%;
    padding: 1%;
    height: 690px;
}

.form-post input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    width: 60%;
    height: 47px;
    font-family: 'IBM Plex Sans';
    font-size: 1em;
    padding: 1% 0% 0% 0.4%;
}

.form-post textarea {
    background: transparent;
    border: none;
    resize: none;
    border-bottom: 1px solid #000000;
    width: 60%;
    font-family: 'IBM Plex Sans';
    font-size: 1em;
    padding: 1% 0% 0% 0.4%;
}

.form-post input,
textarea:focus {
    outline: none;
}

.form-post button:hover {
    background-color: rgba(0, 0, 0, 0.384);
}

.foot {
    margin: 2%;
    padding: 1%;
    text-align: center;
}

.checkbox {
    display: flex;
    flex-direction: row;
    padding: 2%;
    accent-color: black;
}

::-webkit-input-placeholder {
    font-family: 'IBM Plex Sans';
}

:-moz-placeholder {
    font-family: 'IBM Plex Sans';
}

::-moz-placeholder {
    font-family: 'IBM Plex Sans';
}

:-ms-input-placeholder {
    font-family: 'IBM Plex Sans';
}