<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Fragmentos</title>
</head>

<body>
    <header th:fragment="header">
        <div class="cont-nav">
            <div class="nav-left">
                <a th:href="@{/inicio}">Início</a>
                <a th:href="@{/sobre}">Sobre</a>
                <a th:href="@{/curriculo}">Currículo</a>
                <a th:href="@{/contato}">Contato</a>
            </div>
            <div class="nav-right">
                <a href="https://facebook.com/davidmateusreis" target="_blank"><img src="/imgs/facebook.png"
                        alt="Facebook"></a>
                <a href="https://linkedin.com/davidmateusreis" target="_blank"><img src="/imgs/linkedin.png"
                        alt="LinkedIn"></a>
                <a href="https://instagram.com/davidmateusreis" target="_blank"><img src="/imgs/instagram.png"
                        alt="Instagram"></a>
                <a href="https://youtube.com/davidmateusreis" target="_blank"><img src="/imgs/youtube.png"
                        alt="YouTube"></a>
                <a href="https://twitter.com/davidmateusreis" target="_blank"><img src="/imgs/twitter.png"
                        alt="Twitter"></a>
            </div>
        </div>
    </header>
    <footer th:fragment="footer">
        <div class="foot">
            <span>&copy;2022 <a href="https://github.com/davidmateusreis" target="_blank">David</a></span>
        </div>
    </footer>